page-register {
    .content{
        background-color: #15212e;;
       
      }
      .radius_{
        border-radius: 25px;
        padding: 10px;
        background-color: #ffffff;
      }
      .input_1{
        color:#f84444;
      }
}
