page-profile {
    .beteam_{
        background-color: #1b2b3b;
     }
     .cardBack{
        background-color:#f1e2dc;
     }
     .imageProfile{
        border: 2px solid #fff;
        box-shadow: 0 0 5px gray;
        display: inline-block;
        border-radius:50%;
        width: 50%;
        display: block;
        margin-top: 10%;
    margin-left: auto;
    margin-right: auto 
     }
}
